<div class="horizontal-padding vertical-padding" >
    <section class="profile" id="profile">
        <div class="profile-info">
            <div> 
                @for (item of perfil; track item) {
                <h1 class="profile-title">
                    {{item.Titulo1}}
                </h1>
                <h1 class="profile-title">
                    {{item.Titulo2}}
                </h1>
                <p class="profile-details"
                    [style.--fs]="item.fontsize"
                    [style.--fw]="item.fontweight"
                    [style.--lh]="item.lineheight"
                    [style.--mw]="item.maxwidth"
                    [style.--mg]="item.margin">
                    {{item.Descripcion}}
                </p>
                <button class="profile-btn" (click)="descargarCV()">
                    {{item.Descarga}}
                </button>
                }
            </div>
        </div>
        <span class="profile-img-section">
            <img class="profile-img" src="{{urlFotoPerfil}}" alt="Programador"/>
            <div class="profile-img-line"></div>
        </span>
    </section>
</div>