<div class="horizontal-padding vertical-padding" >
    <section class="profile" id="profile">
        <div class="profile-info">
            <div> 
                @for (item of perfil; track item) {
                <h1 class="profile-title">
                    {{item.Titulo1}}
                </h1>
                <h1 class="profile-title">
                    {{item.Titulo2}}
                </h1>
                <p class="profile-details">
                    {{item.Descripcion}}
                </p>
                <a class="profile-btn" href={{item.Archivo}} download>
                    {{item.Descarga}}
                </a>
                }
            </div>
        </div>
        <span class="profile-img-section">
            <img class="profile-img" src="./../../assets/img/Mi Foto.png" alt="Programador"/>
            <div class="profile-img-line"></div>
        </span>
    </section>
</div>