    <section class = "contact" id="contact">

      <h2 *ngFor="let titulo of titcontacto" class="contact-title">
        {{titulo.Opcion}}
      </h2>
  
      <div *ngFor="let item of contacto" class="contact-details">
        <div class="contact-details-group">
          <p class="contact-label">
            {{item.Direccion}}:
          </p>
          <p class="contact-text">
            {{item.Ubicacion}}
          </p>
        </div>
        <div class="contact-details-group">
          <p class="contact-label">
            {{item.Email2}}:
          </p>
          <p class="contact-text">
            {{item.EmailContact}}
          </p>
        </div>
        <div class="contact-details-group">
          <p class="contact-text">
            {{item.Mensaje2}}
          </p>
        </div>
      </div>
      <form class="contact-form" action="https://formsubmit.co/f12458ee692c646bf154adf73ed73b12" method="POST">
        <div *ngFor="let item of contacto">
        <div class="contact-form-group">
          <label for="name">
            {{item.Nombre}}:
          </label>
          <input required type="text" name="name" id="name"/>
        </div>
        <div class="contact-form-group">
          <label for="email">
            {{item.Email1}}:
          </label>
          <input required type="email" name="email" id="email"/>
        </div>
        <div class="contact-form-group">
          <label for="message">
            {{item.Mensaje1}}:
          </label>
          <textarea required name="message"  rows="6" id="message"></textarea>
        </div>
        <button type="submit" class="contact-form-submit">
          {{item.Boton}}
        </button>
      </div>
      </form>
      <nav class="social">
        <ul class="social-list">
          <li class="social-item">
            <a href="https://twitter.com/rmjaramillo" class="social-link">
              <img src="./../../assets/img/Social/Twitter.png" alt="Twitter">
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.facebook.com/raul.martin.7583" class="social-link">
              <img src="./../../assets/img/Social/Facebook.png" alt="Facebook">
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.linkedin.com/in/raul-martin-jaramillo-mesones-28847447/" class="social-link">
              <img src="./../../assets/img/Social/LinkedIn.png" alt="linkedin">
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/raulmartin631/">
              <img src="./../../assets/img/Social/Instagram.png" alt="instagram">
            </a>
          </li>
        </ul>
      </nav>
    </section>
  