<header class="top-header">

  <a href="#" class="logo">
    <img heigth="50" width="50" src="./../../assets/img/Mi Foto.png" alt="Logo RJM">
    <div class="midata">
      Raúl Jaramillo <br />
      Analista Funcional Sr SAP SD
    </div>
  </a>

  <nav class="top-nav">

    <button class="open-menu" arial-laberl="Abrir menu">
      <img class="open-menu-img" src="./../../assets/img/Hamburger_icon.svg.png" alt="abrir menu" />
    </button>
    <ul class="menu">
      <button class="close-menu" arial-laberl="Cerrar menu">
        <img src="./../../assets/img/Close_icon.svg.png" alt="cerrar menu" />
      </button>

      <li *ngFor="let item of mimenu">
        <a href="{{item.Boton}}">{{item.Opcion}}</a></li>
    </ul>


  </nav>

  <select  name="selectedIdioma" id="selIdioma" class="form-select" aria-label="Selecciona idioma" (change)="salvar_Idioma(selectedIdioma)" [(ngModel)]="selectedIdioma">
    <option *ngFor="let optItem of lstidiomas" value="{{optItem.Valor}}" [disabled]="optItem.Estado">
      {{optItem.Boton}}
    </option>
    
    
 </select>

</header>