.top-header {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--experience-color);
    box-shadow: 0 4px 5px var(--navbar-shadow-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.midata {
    font-size: 15px;
    padding-left: 3px;
    color: var(--text-color-inverse)
}

a {
    text-decoration: none;
}

.top-nav {
display: flex;
justify-content: space-between;
padding: 10px;
max-width: 980px;
margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.logo img {
    border-radius: 50%;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px ;
}

.menu a {
    color: var(--text-color-inverse);
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;

}

.menu a.selected::after,
.menu a:hover::after {
    opacity: 0.8;
}

.menu a:hover {
    color: var(--primary-color);
}

.open-menu,
.close-menu {
    display: none;
}

@media (max-width: 950px) {
   
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
    }
    
    .menu li {
        padding: 0;
    }
    
    .menu a {
        color: var(--text-color-inverse);        
        line-height: 60px;
    }   

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    .menu a::after {
        content: none;
    }
    

    .menu a:hover,
    .menu a.selected {
        color: var(--secondary-color);
    }
    


}