<header class="top-header">
  <a href="#" class="logo">
    <img height="45" width="45" src="./assets/img/Mi Foto.png" alt="Logo RJM">
    <div class="midata">
      <strong>Raúl Jaramillo</strong> <br />
      Analista Funcional Sr SAP SD
    </div>
  </a>

  <nav class="top-nav">
    <button class="open-menu" aria-label="Abrir menu">
      <img class="open-menu-img" src="./assets/img/Hamburger_icon.svg.png" alt="abrir menu" width="30" />
    </button>

    <ul class="menu">
      <button class="close-menu" aria-label="Cerrar menu">
        <img src="./assets/img/Close_icon.svg.png" alt="cerrar menu" width="25" />
      </button>

      <li class="menuref" *ngFor="let item of mimenu">
        <a href="{{item.Boton}}">{{item.Opcion}}</a>
      </li>
    </ul>
  </nav>

  <div class="lang-container">
    <select name="selectedIdioma" id="selIdioma" class="form-select" 
            (change)="salvar_Idioma(selectedIdioma)" [(ngModel)]="selectedIdioma">
      <option *ngFor="let optItem of lstidiomas" [value]="optItem.Valor" [disabled]="optItem.Estado === 'false'">
        {{optItem.Boton}}
      </option>
    </select>
  </div>
</header>