<header class="top-header">
  <nav class="top-nav">
    <a href="#" class="logo">
      <img heigth="50" width="50" src="./../../assets/img/Mi Foto.png" alt="Logo RJM">
      <div class="midata">
        Raúl Jaramillo <br />
        Analista Funcional Sr SAP SD
      </div>
    </a>
    <button class="open-menu" arial-laberl="Abrir menu"> 
      <img src="./../../assets/img/Hamburger_icon.svg.png" alt="abrir menu" />
    </button>
    <ul class="menu">
      <button class="close-menu" arial-laberl="Cerrar menu"> 
        <img src="./../../assets/img/Close_icon.svg.png" alt="cerrar menu" />
      </button>
  
      <li><a href="#profile" class="selected">Perfil</a></li>
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#skills">Habilidades</a></li>
      <li><a href="#trainings">Capacitaciones</a></li>
      <li><a href="#testimonials">Testimonios</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
   
  </header>