<section class="trainings" id="trainings">
  <div class="wave-container">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.99 C149.99,150.00 349.81,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #011d54"></path>
    </svg>
  </div>

  <div class="trainings-body">
    <h2 *ngFor="let titulo of titcapacitaciones" class="trainings-title">
      {{titulo.Opcion}}
    </h2>
  
    <table class="trainings-table">
      <tbody>
        <tr *ngFor="let item of capacitaciones; index as i">
          
          <ng-container *ngIf="i % 2 === 0">
            <td class="training text-end-custom">
              <div class="training-date">{{item.Fecha}}</div>
              <div class="training-name">{{item.Titulo}}</div>
              <div class="training-company">{{item.Institucion}}</div>
              <div class="training-location">{{item.Ubicacion}}</div>
            </td>
            <td class="line"></td>
            <td class="empty"></td>
          </ng-container>

          <ng-container *ngIf="i % 2 !== 0">
            <td class="empty"></td>
            <td class="line"></td>
            <td class="training text-start-custom">
              <div class="training-date">{{item.Fecha}}</div>
              <div class="training-name">{{item.Titulo}}</div>
              <div class="training-company">{{item.Institucion}}</div>
              <div class="training-location">{{item.Ubicacion}}</div>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="olafoot">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.99 C149.99,150.00 300.75,-49.99 500.00,49.99 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #011d54"></path>
    </svg>
  </div>
</section>