<section class="experiences" id="experience">
  <div class="wave-container">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.99 C149.99,150.00 349.81,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #011d54"></path>
    </svg>
  </div>

  <div class="experiences-body">
    <h2 *ngFor="let titulo of titexperiencia" class="experiences-title">
      {{titulo.Opcion}}
    </h2>

    <table class="experiences-table">
      <tbody>
        <tr *ngFor="let item of experiencia; index as i">
          
          <ng-container *ngIf="i % 2 === 0">
            <td class="experience experience_left">
              <div class="experience-date">{{item.Fecha}}</div>
              <div class="experience-company">{{item.Empresa}}</div>
              <div class="experience-position">{{item.Cargo}}</div>
              <div class="experience-location">{{item.Ubicacion}}</div>
              <div class="experience-functions">
                <ul class="experience-functions-list">
                  <li *ngFor="let logro of item.Logros" class="experience-functions-description">
                    {{logro.Descripcion}}
                  </li>
                </ul>
              </div>
            </td>
            <td class="line"></td>
            <td class="empty"></td>
          </ng-container>

          <ng-container *ngIf="i % 2 !== 0">
            <td class="empty"></td>
            <td class="line"></td>
            <td class="experience">
              <div class="experience-date">{{item.Fecha}}</div>
              <div class="experience-company">{{item.Empresa}}</div>
              <div class="experience-position">{{item.Cargo}}</div>
              <div class="experience-location">{{item.Ubicacion}}</div>
              <div class="experience-functions">
                <ul class="experience-functions-list">
                  <li *ngFor="let logro of item.Logros" class="experience-functions-description">
                    {{logro.Descripcion}}
                  </li>
                </ul>
              </div>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="olafooter">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.99 C149.99,150.00 300.75,-49.99 500.00,49.99 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #011d54"></path>
    </svg>
  </div>
</section>